  
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Vaccine Tracker</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/stylesheet.css">
</head>

<body>


    <form
    name="form1"
    method="post"
    onsubmit="return processFormSubmission();"
    action="/"
  >



    <h1>Welcome to our Covid Vaccine Tracker</h1>
    
      <h2>Blockchain Setup</h2>
      <button class="enableEthereumButton">Enable Ethereum</button> 
      <h2>Account: <span class="showAccount"></span></h2>

      <legend><img src="/images/vaccine.jpg" alt="Vaccine Tracker" width="455" height="200"></span>Please provide the following information:</legend>
      <label for="name">Name:</label>
      <input type="text" id="fname" name="fname" required>
      

      <label for="name">Surname:</label>
      <input type="text" id="surname" name="lname" required>
      
      <label for="name">Date of vaccination:</label>
      <input type="date" id="date_v" name="vdate">
      
      <label for="vacAdmin">Vaccine administered:</label>
      <input type="text" id="type_of_v" name="vname" required>
    
     
      
      <label for="name">Place of vaccination:</label>
      <input type="text" id="place_of_v" name="vplace" required>
      
    <button type="submit">Submit</button>
  </form>

  <br />

  <hr>


  <h2><%= status %></h1>

  <ul>
    <li>Item one</li>
    <li>Item two</li>
    <li>Item three</li>
    <li>Item four</li>
    <li>Item five</li>
  </ul>  

  <br />

  <ol>
    <li>Item one</li>
    <li>Item two</li>
    <li>Item three</li>
    <li>Item four</li>
    <li>Item five</li>
  </ol> 
    <ul>
      <% if (typeof(records) =="undefined") { %>
        <li>No data</li> 

      <% } if (typeof(records) == !"undefined")  { %> 
        <% for (let i = 0; i < records.length; i++) { %>
          <li><%= records[i] %> - <%= records[i].Name %>
             - <%= records[i].Surname %> 
             - <%= records[i].VaccineDate %>
             - <%= records[i].VaccineName %>
             - <%= records[i].VaccinePlace %>
            </li>
          <a  href="javascript:void(0);" class="btn btn-xs btn-success blockchain addVaccinationToBlockchainBtn"
                    data-fname="<%=records[i].Name%>"
                    data-lname="<%=records[i].Surname%>"
                    data-date_v="<%=records[i].VaccineDate%>"
                    data-type_of_v="<%=records[i].VaccineName%>"
                    data-place_of_v="<%=records[i].VaccinePlace%>">
                    Add to Blockchain</a> 
        <% } %>
       <% } %>
    
    </ul>
    <br />
    First Name:
    <p id="first_n">-</p>
    Last Name:
    <p id="last_n">-</p>
    Vaccine Date:
    <p id="date_vac">-</p>
    Vaccine Type:
    <p id="vaccine_n">-</p>
    Vaccine Place:
    <p id="place_n">-</p>

<script src="public/scripts/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- jQuery from Google Content Delivery Network (CDN)-->
<script src="https://cdn.ethers.io/scripts/ethers-v4.min.js" 
      charset="utf-8" type="text/javascript"></script> <!-- This exposes the library as a global variable: ethers -->
<script src="scripts/cvt_blockchain.js"></script>
</body>

</html>